[Unit]
Description=Odoo 18 Community
Documentation=http://www.odoo.com
After=network.target postgresql.service

[Service]
Type=simple
SyslogIdentifier=odoo18
PermissionsStartOnly=true
User=odoo
Group=odoo
ExecStart=/opt/odoo/odoo18-venv/bin/python3 /opt/odoo/odoo18/odoo-bin -c /etc/odoo18.conf
StandardOutput=journal+console
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
